<launch>
  <arg name="joy_dev" default="/dev/input/js0" />
  <!-- mobi-xbox.config.yaml ou mobi-ps4.config.yaml (eixos diferentes!) -->
  <arg name="joy_config" default="/etc/mobi/mobi-xbox.config.yaml" />

  <node pkg="joy" type="joy_node" name="joy_node" output="screen">
    <param name="dev" value="$(arg joy_dev)" />
    <param name="deadzone" value="0.12" />
    <param name="autorepeat_rate" value="20.0" />
    <param name="coalesce_interval" value="0.01" />
  </node>

  <node pkg="mobi_teleop" type="mobi_joy_teleop.py"
        name="mobi_joy_teleop" output="screen" clear_params="true">
    <rosparam command="load" file="$(arg joy_config)" />
    <remap from="cmd_vel" to="/cmd_vel" />
  </node>
</launch>
